body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #444;
    color: white;
}

#form-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #444;
    color: white;
    font-size: 4vw;
}

#intro-div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#disconnect-message {
    color:red;
    margin: 1em;
    margin-top: -2em;
}

.intro-form, #go {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    width: 1.8em;
    margin: 0.5vw;
}

#restart {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    margin: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: none;
}

.intro-room-hide {
    display: none;
}

#go {
    width: 4em;
    background-color: dodgerblue;
    color: white;
}

#intro {
    display: block;
}

#intro-form-table {
    
}

#sequencer {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table#matrix {
    width: 100%;
    border-collapse: collapse;
}

#channel {
    width: 100%;
    height: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name-header, .track-name-td {
    width: 8vw;
    padding-bottom: 0em;
    padding-top: 0em;
    margin: 0;
    font-size: 3vw;
    font-weight: 100;
    padding: 0;
}

.name-header, .step-header {
    font-size: 2vw;
    font-weight: 100;
}

.track-name-td {
    color: black;
    padding: 0;
}

tr.track, tr.track-header-tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name-header, .step-header, .step-td, .track-name-td, .track-icon-td {
    color: white;
    text-align: center;
    width: 5vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
}

.step {
    width: 50%;
    padding-bottom: 50%;
    background-color: white;
    border-radius: 8%;
    border: .2em solid white;
    margin-top: .5em;
    margin-bottom: .5em;
}

.track-icon {
    width: 4vw;
}

#control-panel {
    display:none;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#instrument-icon {
    filter: invert(1);
}

.controls, #device-select, #devices-label {
    margin-left: 1vw;
    font-size: 3vw;
    height: 1.3em;
}

#device-label {
    margin-left: 3vw;
}

#tempo {
    height: 1.3em;
    border: 0;
    padding: 0;
    width: 2.3em;
    text-align: right;
}

#device-select-control {
    margin-left: 2em;
}

#device-select {
    width: 6em;
}

.cursor {
    background-color: #444;
}

.playing {
    color: lime;
}

#play, #stop {
    height: 1.3em;
    width: 1.3em;
    padding-top: 0em;
}