body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #444;
    color: white;
}

#form-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #444;
    color: white;
    font-size: 4vw;
}

#initials, #go {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    width: 1.5em;
}
#go {
    width: 4em;
    background-color: dodgerblue;
    color: white;
}

#intro {
    display: block;
}

table {
    border-collapse: collapse;
}

#sequencer {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#matrix {
    width: 100%;
}

#channel {
    width: 100%;
    height: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.name-header, .track-name {
    width: 8vw;
    padding-bottom: 0em;
    padding-top: 0em;
    margin: 0;
    font-size: 3vw;
    font-weight: 100;
}

.name-header, .step-header {
    font-size: 2vw;
    font-weight: 100;
}

.track-name {
    color: black;
}

tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

th, td {
    color: white;
    text-align: center;
    width: 5vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
}

.step {
    width: 50%;
    padding-bottom: 50%;
    background-color: white;
    border-radius: 8%;
    border: .2em solid white;
    margin-top: .5em;
    margin-bottom: .5em;
}

.track-icon {
    width: 4vw;
}

#control-panel {
    display:none;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#instrument-icon {
    filter: invert(1);
}

.controls, #devices, #devices-label {
    margin-left: 1vw;
    font-size: 3vw;
    height: 3.5vw;
}

#devices-label {
    margin-left: 3vw;
}

#tempo {
    width: 2.3em;
    text-align: right;
}

#deviceSelect {
    margin-left: 2em;
}

.cursor {
    background-color: #444;
}

.playing {
    color: lime;
}

#play, #stop {
    height: 1.2em;
    line-height: 1.2em;
}