.track-meta, .name-header {
    display: none;
}

#track-header {
    color: black;
}

.name-header, .step-header, .step-td, .track-name-td, .track-icon-td {
    width: 5.5vw;
}

.sw {
    text-align: center;
    width: 3vw;
    height: 3vw;
    margin: .6vw;
    border-radius: 10%;
}

#remaining-rounds {
    font-size: 3vw;
}

#restart {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
}


