.track-meta, .name-header {
    display: none;
}

#track-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
}

#empty, #expert-controls {
    flex: 1;
}

#icon-initials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

#expert-controls {
    margin: 2vw;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#expert-mode {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    top: 0;
    left: 0;
    height: 3vw;
    width: 3vw;
    margin: 0;
    border-color: transparent; 
    vertical-align: middle; 
    position: relative;
    margin-right: 1vw;
    background-color: white;
    border-radius: 10%;
    display: grid;
    place-content: center;
}

#expert-mode:before {
    content: "";
    width: 2vw;
    height: 2vw;
}
  
#expert-mode:checked:before {
    content: "✓";
    color: white;
    background-color: black;
    font-size: 2vw;
    text-align: center;
    line-height: 110%;
}

.name-header, .step-header, .step-td, .track-name-td, .track-icon-td {
    width: 5.5vw;
}

.sw {
    text-align: center;
    width: 3vw;
    height: 3vw;
    margin: .6vw;
    border-radius: 10%;
}

.key {
    margin: 0;
    margin-top: .5vw;
    border-width: .3vw;
    height: 1.5vw;
    width: 3.2vw;
    border-radius: .3vw;
}

.oct-button {
    border-width: .2vw;
    width: 1.3vw;
    height: 1.3vw;
    margin: .2vw;
    margin-left: 0;
    margin-right: .2em;
    margin-bottom: 1vw;
    font-size: 2vw;
}

#remaining-rounds {
    font-size: 3vw;
}

#restart {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.invisible {
    visibility: hidden;
}

#sequencer {
    display: none;
}

#paused {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 4vw;
    color: black;
    height: 100%;
}
