---
---

@import "{{ site.theme }}";

body {
    background-color: white; background-image: none;
}

#container {
    background-image: none;
}

img + em {
    text-align: center;
    display: block;
}

header h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

#try {
    background-color: (211,9,27);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
